.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(237%2c 246%2c 251%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c623.97C116.162%2c610.132%2c217.434%2c554.25%2c319.763%2c497.561C429.137%2c436.969%2c580.596%2c401.451%2c617.38%2c281.948C654.79%2c160.413%2c519.642%2c53.571%2c494.816%2c-71.144C471.965%2c-185.935%2c534.376%2c-311.839%2c478.686%2c-414.784C419.21%2c-524.727%2c307.943%2c-605.103%2c187.625%2c-638.992C67.855%2c-672.727%2c-58.491%2c-640.283%2c-175.931%2c-599.166C-288.833%2c-559.637%2c-391.852%2c-497.814%2c-471.225%2c-408.319C-551.222%2c-318.121%2c-610.37%2c-209.559%2c-627.337%2c-90.197C-644.289%2c29.056%2c-608.778%2c145.885%2c-566.012%2c258.489C-520.694%2c377.812%2c-480.01%2c510.822%2c-372.782%2c580.06C-265.498%2c649.335%2c-126.809%2c639.076%2c0%2c623.97' fill='%23d9ecf7'%3e%3c/path%3e%3cpath d='M1440 1129.269C1567.513 1132.799 1704.94 1208.046 1814.684 1143.02 1924.425 1077.996 1939.2440000000001 927.759 1982.571 807.784 2022.408 697.472 2088.524 584.296 2057.285 471.248 2026.6860000000001 360.515 1901.807 311.68 1822.512 228.551 1747.998 150.43400000000003 1707.157 32.85799999999995 1605.218-2.67999999999995 1502.28-38.56600000000003 1393.949 16.697000000000003 1287.959 42.19500000000005 1176.089 69.10700000000003 1037.828 59.523000000000025 967.6410000000001 150.699 897.322 242.046 961.053 374.675 944.225 488.718 927.308 603.367 844.751 707.5029999999999 868.751 820.881 894.64 943.185 968.406 1063.253 1078.413 1122.6399999999999 1186.684 1181.0900000000001 1317.006 1125.864 1440 1129.269' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login .login-svg {
  margin-bottom: 40px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px; /* increase the width to accommodate two buttons side by side */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.login form button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 16px; /* Add margin-bottom to the login button */
}

.login form .create-account-btn {
  background-color: #6c757d; /* Different color for differentiation */
  color: #ffffff;
}

.login form button:hover {
  background-color: #0056b3;
}

.login form .create-account-btn:hover {
  background-color: #5a6268; /* Different hover color for the create account button */
}

.login form button:active {
  background-color: #00438f;
}

.login form button:focus {
  outline: none;
}

.login .error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  font-family: "Arial", sans-serif;
}

.login form button,
.login form .create-account-btn {
  width: 54%;
}

.login form .button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login form .button-group button {
  width: 40%; /* this will set each button to take up roughly half of the form's width */
  padding: 8px; /* reducing padding to maintain the overall size of the button */
  box-sizing: border-box; /* this ensures that padding and border are included in the element's total width and height */
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
